@import url("https://fonts.googleapis.com/css2?family=Vazirmatn%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-jrtHWbWcQ_AJ_font-family: "Vazirmatn", sans-serif;
  --mixin-jrtHWbWcQ_AJ_font-size: 16px;
  --mixin-jrtHWbWcQ_AJ_font-weight: 400;
  --mixin-jrtHWbWcQ_AJ_font-style: normal;
  --mixin-jrtHWbWcQ_AJ_color: #535353;
  --mixin-jrtHWbWcQ_AJ_text-align: left;
  --mixin-jrtHWbWcQ_AJ_text-transform: none;
  --mixin-jrtHWbWcQ_AJ_line-height: 1.5;
  --mixin-jrtHWbWcQ_AJ_letter-spacing: normal;
  --mixin-jrtHWbWcQ_AJ_white-space: pre-wrap;
  --mixin-jrtHWbWcQ_AJ_user-select: text;
  --mixin-jrtHWbWcQ_AJ_text-decoration-line: none;
  --mixin-jrtHWbWcQ_AJ_text-overflow: clip;
  --mixin-WlOg05YkcJqh_color: #000000;
  --mixin-WlOg05YkcJqh_font-weight: 700;
  --mixin-WlOg05YkcJqh_font-size: 64px;
  --mixin-WlOg05YkcJqh_line-height: 1;
  --mixin-WlOg05YkcJqh_letter-spacing: -1px;
  --mixin-WlOg05YkcJqh_white-space: pre-wrap;
  --mixin-SODROp5DU3yP_color: #000000;
  --mixin-SODROp5DU3yP_font-size: 48px;
  --mixin-SODROp5DU3yP_font-weight: 700;
  --mixin-SODROp5DU3yP_letter-spacing: -0.5px;
  --mixin-SODROp5DU3yP_line-height: 1.1;
  --mixin-SODROp5DU3yP_white-space: pre-wrap;
  --mixin-q79f58jX0Czo_color: #0070f3;
  --mixin-q79f58jX0Czo_white-space: pre-wrap;
  --mixin-OKBTD83kVFIl_color: #000000;
  --mixin-OKBTD83kVFIl_font-size: 32px;
  --mixin-OKBTD83kVFIl_font-weight: 600;
  --mixin-OKBTD83kVFIl_line-height: 1.2;
  --mixin-OKBTD83kVFIl_white-space: pre-wrap;
  --mixin-w9CzqmEmKtnp_color: #000000;
  --mixin-w9CzqmEmKtnp_font-size: 24px;
  --mixin-w9CzqmEmKtnp_font-weight: 600;
  --mixin-w9CzqmEmKtnp_line-height: 1.3;
  --mixin-w9CzqmEmKtnp_white-space: pre-wrap;
  --mixin-4Jz2yTDdIfM2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-4Jz2yTDdIfM2_border-bottom-color: #dddddd;
  --mixin-4Jz2yTDdIfM2_border-bottom-style: solid;
  --mixin-4Jz2yTDdIfM2_border-bottom-width: 1px;
  --mixin-4Jz2yTDdIfM2_border-left-color: #dddddd;
  --mixin-4Jz2yTDdIfM2_border-left-style: solid;
  --mixin-4Jz2yTDdIfM2_border-left-width: 1px;
  --mixin-4Jz2yTDdIfM2_border-right-color: #dddddd;
  --mixin-4Jz2yTDdIfM2_border-right-style: solid;
  --mixin-4Jz2yTDdIfM2_border-right-width: 1px;
  --mixin-4Jz2yTDdIfM2_border-top-color: #dddddd;
  --mixin-4Jz2yTDdIfM2_border-top-style: solid;
  --mixin-4Jz2yTDdIfM2_border-top-width: 1px;
  --mixin-4Jz2yTDdIfM2_border-bottom-left-radius: 3px;
  --mixin-4Jz2yTDdIfM2_border-bottom-right-radius: 3px;
  --mixin-4Jz2yTDdIfM2_border-top-left-radius: 3px;
  --mixin-4Jz2yTDdIfM2_border-top-right-radius: 3px;
  --mixin-4Jz2yTDdIfM2_font-family: "Inconsolata";
  --mixin-4Jz2yTDdIfM2_padding-bottom: 1px;
  --mixin-4Jz2yTDdIfM2_padding-left: 4px;
  --mixin-4Jz2yTDdIfM2_padding-right: 4px;
  --mixin-4Jz2yTDdIfM2_padding-top: 1px;
  --mixin-4Jz2yTDdIfM2_white-space: pre-wrap;
  --mixin-piADQbVCrnVp_border-left-color: #dddddd;
  --mixin-piADQbVCrnVp_border-left-style: solid;
  --mixin-piADQbVCrnVp_border-left-width: 3px;
  --mixin-piADQbVCrnVp_color: #888888;
  --mixin-piADQbVCrnVp_padding-left: 10px;
  --mixin-piADQbVCrnVp_white-space: pre-wrap;
  --mixin-RSiNYv7PTX-__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-RSiNYv7PTX-__border-bottom-color: #dddddd;
  --mixin-RSiNYv7PTX-__border-bottom-style: solid;
  --mixin-RSiNYv7PTX-__border-bottom-width: 1px;
  --mixin-RSiNYv7PTX-__border-left-color: #dddddd;
  --mixin-RSiNYv7PTX-__border-left-style: solid;
  --mixin-RSiNYv7PTX-__border-left-width: 1px;
  --mixin-RSiNYv7PTX-__border-right-color: #dddddd;
  --mixin-RSiNYv7PTX-__border-right-style: solid;
  --mixin-RSiNYv7PTX-__border-right-width: 1px;
  --mixin-RSiNYv7PTX-__border-top-color: #dddddd;
  --mixin-RSiNYv7PTX-__border-top-style: solid;
  --mixin-RSiNYv7PTX-__border-top-width: 1px;
  --mixin-RSiNYv7PTX-__border-bottom-left-radius: 3px;
  --mixin-RSiNYv7PTX-__border-bottom-right-radius: 3px;
  --mixin-RSiNYv7PTX-__border-top-left-radius: 3px;
  --mixin-RSiNYv7PTX-__border-top-right-radius: 3px;
  --mixin-RSiNYv7PTX-__font-family: "Inconsolata";
  --mixin-RSiNYv7PTX-__padding-bottom: 3px;
  --mixin-RSiNYv7PTX-__padding-left: 6px;
  --mixin-RSiNYv7PTX-__padding-right: 6px;
  --mixin-RSiNYv7PTX-__padding-top: 3px;
  --mixin-RSiNYv7PTX-__white-space: pre-wrap;
  --mixin-tS_ckeWYxNMA_display: flex;
  --mixin-tS_ckeWYxNMA_flex-direction: column;
  --mixin-tS_ckeWYxNMA_align-items: stretch;
  --mixin-tS_ckeWYxNMA_justify-content: flex-start;
  --mixin-tS_ckeWYxNMA_list-style-position: outside;
  --mixin-tS_ckeWYxNMA_padding-left: 40px;
  --mixin-tS_ckeWYxNMA_position: relative;
  --mixin-tS_ckeWYxNMA_list-style-type: disc;
  --mixin-tS_ckeWYxNMA_white-space: pre-wrap;
  --mixin-BLUTMd7YERY4_display: flex;
  --mixin-BLUTMd7YERY4_flex-direction: column;
  --mixin-BLUTMd7YERY4_align-items: stretch;
  --mixin-BLUTMd7YERY4_justify-content: flex-start;
  --mixin-BLUTMd7YERY4_list-style-position: outside;
  --mixin-BLUTMd7YERY4_padding-left: 40px;
  --mixin-BLUTMd7YERY4_position: relative;
  --mixin-BLUTMd7YERY4_list-style-type: decimal;
  --mixin-BLUTMd7YERY4_white-space: pre-wrap;
  --mixin-hyC4d1lubODu_color: #000000;
  --mixin-hyC4d1lubODu_font-size: 20px;
  --mixin-hyC4d1lubODu_font-weight: 600;
  --mixin-hyC4d1lubODu_line-height: 1.5;
  --mixin-hyC4d1lubODu_white-space: pre-wrap;
  --mixin-jElHpkRocHmL_color: #000000;
  --mixin-jElHpkRocHmL_font-size: 16px;
  --mixin-jElHpkRocHmL_font-weight: 600;
  --mixin-jElHpkRocHmL_line-height: 1.5;
  --mixin-jElHpkRocHmL_white-space: pre-wrap;
  --mixin-JGDO39_PVMub_color: #3291ff;
  --mixin-JGDO39_PVMub_white-space: pre-wrap;
  --mixin-hKaI6UDk_pm5_white-space: pre-wrap;
  --mixin-USEuokRTgFB6_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-jrtHWbWcQ_AJ_font-family);
  font-size: var(--mixin-jrtHWbWcQ_AJ_font-size);
  font-weight: var(--mixin-jrtHWbWcQ_AJ_font-weight);
  font-style: var(--mixin-jrtHWbWcQ_AJ_font-style);
  color: var(--mixin-jrtHWbWcQ_AJ_color);
  text-align: var(--mixin-jrtHWbWcQ_AJ_text-align);
  text-transform: var(--mixin-jrtHWbWcQ_AJ_text-transform);
  line-height: var(--mixin-jrtHWbWcQ_AJ_line-height);
  letter-spacing: var(--mixin-jrtHWbWcQ_AJ_letter-spacing);
  white-space: var(--mixin-jrtHWbWcQ_AJ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-WlOg05YkcJqh_color);
  font-weight: var(--mixin-WlOg05YkcJqh_font-weight);
  font-size: var(--mixin-WlOg05YkcJqh_font-size);
  line-height: var(--mixin-WlOg05YkcJqh_line-height);
  letter-spacing: var(--mixin-WlOg05YkcJqh_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-SODROp5DU3yP_color);
  font-size: var(--mixin-SODROp5DU3yP_font-size);
  font-weight: var(--mixin-SODROp5DU3yP_font-weight);
  letter-spacing: var(--mixin-SODROp5DU3yP_letter-spacing);
  line-height: var(--mixin-SODROp5DU3yP_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-q79f58jX0Czo_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-OKBTD83kVFIl_color);
  font-size: var(--mixin-OKBTD83kVFIl_font-size);
  font-weight: var(--mixin-OKBTD83kVFIl_font-weight);
  line-height: var(--mixin-OKBTD83kVFIl_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-w9CzqmEmKtnp_color);
  font-size: var(--mixin-w9CzqmEmKtnp_font-size);
  font-weight: var(--mixin-w9CzqmEmKtnp_font-weight);
  line-height: var(--mixin-w9CzqmEmKtnp_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-4Jz2yTDdIfM2_font-family);
  border-radius: var(--mixin-4Jz2yTDdIfM2_border-top-left-radius)
    var(--mixin-4Jz2yTDdIfM2_border-top-right-radius)
    var(--mixin-4Jz2yTDdIfM2_border-bottom-right-radius)
    var(--mixin-4Jz2yTDdIfM2_border-bottom-left-radius);
  padding: var(--mixin-4Jz2yTDdIfM2_padding-top)
    var(--mixin-4Jz2yTDdIfM2_padding-right)
    var(--mixin-4Jz2yTDdIfM2_padding-bottom)
    var(--mixin-4Jz2yTDdIfM2_padding-left);
  border-top: var(--mixin-4Jz2yTDdIfM2_border-top-width)
    var(--mixin-4Jz2yTDdIfM2_border-top-style)
    var(--mixin-4Jz2yTDdIfM2_border-top-color);
  border-right: var(--mixin-4Jz2yTDdIfM2_border-right-width)
    var(--mixin-4Jz2yTDdIfM2_border-right-style)
    var(--mixin-4Jz2yTDdIfM2_border-right-color);
  border-bottom: var(--mixin-4Jz2yTDdIfM2_border-bottom-width)
    var(--mixin-4Jz2yTDdIfM2_border-bottom-style)
    var(--mixin-4Jz2yTDdIfM2_border-bottom-color);
  border-left: var(--mixin-4Jz2yTDdIfM2_border-left-width)
    var(--mixin-4Jz2yTDdIfM2_border-left-style)
    var(--mixin-4Jz2yTDdIfM2_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-piADQbVCrnVp_color);
  padding-left: var(--mixin-piADQbVCrnVp_padding-left);
  border-left: var(--mixin-piADQbVCrnVp_border-left-width)
    var(--mixin-piADQbVCrnVp_border-left-style)
    var(--mixin-piADQbVCrnVp_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-RSiNYv7PTX-__font-family);
  border-radius: var(--mixin-RSiNYv7PTX-__border-top-left-radius)
    var(--mixin-RSiNYv7PTX-__border-top-right-radius)
    var(--mixin-RSiNYv7PTX-__border-bottom-right-radius)
    var(--mixin-RSiNYv7PTX-__border-bottom-left-radius);
  padding: var(--mixin-RSiNYv7PTX-__padding-top)
    var(--mixin-RSiNYv7PTX-__padding-right)
    var(--mixin-RSiNYv7PTX-__padding-bottom)
    var(--mixin-RSiNYv7PTX-__padding-left);
  border-top: var(--mixin-RSiNYv7PTX-__border-top-width)
    var(--mixin-RSiNYv7PTX-__border-top-style)
    var(--mixin-RSiNYv7PTX-__border-top-color);
  border-right: var(--mixin-RSiNYv7PTX-__border-right-width)
    var(--mixin-RSiNYv7PTX-__border-right-style)
    var(--mixin-RSiNYv7PTX-__border-right-color);
  border-bottom: var(--mixin-RSiNYv7PTX-__border-bottom-width)
    var(--mixin-RSiNYv7PTX-__border-bottom-style)
    var(--mixin-RSiNYv7PTX-__border-bottom-color);
  border-left: var(--mixin-RSiNYv7PTX-__border-left-width)
    var(--mixin-RSiNYv7PTX-__border-left-style)
    var(--mixin-RSiNYv7PTX-__border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-tS_ckeWYxNMA_display);
  flex-direction: var(--mixin-tS_ckeWYxNMA_flex-direction);
  align-items: var(--mixin-tS_ckeWYxNMA_align-items);
  justify-content: var(--mixin-tS_ckeWYxNMA_justify-content);
  list-style-position: var(--mixin-tS_ckeWYxNMA_list-style-position);
  padding-left: var(--mixin-tS_ckeWYxNMA_padding-left);
  position: var(--mixin-tS_ckeWYxNMA_position);
  list-style-type: var(--mixin-tS_ckeWYxNMA_list-style-type);
  flex-column-gap: var(--mixin-tS_ckeWYxNMA_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-BLUTMd7YERY4_display);
  flex-direction: var(--mixin-BLUTMd7YERY4_flex-direction);
  align-items: var(--mixin-BLUTMd7YERY4_align-items);
  justify-content: var(--mixin-BLUTMd7YERY4_justify-content);
  list-style-position: var(--mixin-BLUTMd7YERY4_list-style-position);
  padding-left: var(--mixin-BLUTMd7YERY4_padding-left);
  position: var(--mixin-BLUTMd7YERY4_position);
  list-style-type: var(--mixin-BLUTMd7YERY4_list-style-type);
  flex-column-gap: var(--mixin-BLUTMd7YERY4_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-hyC4d1lubODu_color);
  font-size: var(--mixin-hyC4d1lubODu_font-size);
  font-weight: var(--mixin-hyC4d1lubODu_font-weight);
  line-height: var(--mixin-hyC4d1lubODu_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-jElHpkRocHmL_color);
  font-size: var(--mixin-jElHpkRocHmL_font-size);
  font-weight: var(--mixin-jElHpkRocHmL_font-weight);
  line-height: var(--mixin-jElHpkRocHmL_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-JGDO39_PVMub_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
